@import '../../../utils/mixins.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 0 auto;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 32px;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
  }
}