@import '../../../utils/mixins.scss';

.news_carousel {
  grid-column: 1 / -1;
  display: flex;
  gap: 18px;
  contain: content;
  flex-direction: column;
  margin-bottom: 50px;

  @include onTablet {
    margin-bottom: 58px;
  }

  @include onDesktop {
    margin-bottom: 74px;
  }

  &__wrapper {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }


  &__banner {
    height: 320px;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;

    @include onTablet {
      height: 200px;
      flex-direction: row;
    }

    @include onDesktop {
      height: 400px;
    }

    &_image {
      grid-column: 1 / -1;
      width: 100%;
      height: 320px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url(../../../images/picthree.bdd2e0fc.png);
      background-size: contain;
      
      @include onTablet {
        height: 200px;
        transform: scale(2);
      }
  
      @include onDesktop {
        height: 400px;
      };
    }

    &_order {
      &_text {
        display: none;

        @include onTablet {
          display: block;
          font-size: 12px;
          font-weight: 600;
          color: rgb(203, 203, 203);
          padding-left: 20px;
          padding-right: 20px ;
        }

        @include onDesktop {
          font-size: 16px;
          margin-left: 30px;
        }
      }

      &_title {
        width: 200px;
        margin: 0 auto;
        font-weight: 800;
        font-size: 22px;
        color: rgb(187, 103, 222);
        text-align: center;
        padding-top: 30px;


        @include onTablet {
          text-align: left;
          margin: 0;

          padding-left: 20px;
          padding-top: 10px;
          padding-right: 20px ;
        }
        
        @include onDesktop {
          width: 270px;
          font-size: 32px;
          margin: 40px 0 20px 30px;
        }
      }

      @include onTablet {
        background: rgb(39, 39, 39);
        border-radius: 30px;
        width: 100%;
        margin: 20px;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        display: flex;
      }
    }

    &_presentation {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-right: 20px;
      // transform: translateX(100%);

      &_1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      &_text {
        width: 100%;
        color: #fff;
        text-align: center;

        font-family: 'Mont';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 20px;
        letter-spacing: -0.01em;

        color: #fff;

        margin-top: 20px;

        @include onTablet {
          font-size: 22px;
          margin-top: 10px;
        }

        @include onDesktop {
          font-size: 32px;
          margin-top: 64px;
        }

        &_small {
          width: 100%;
          color: rgb(181, 176, 176);
          opacity: 0.8;
          text-align: center;
  
          font-family: 'Mont';
          font-style: normal;
          font-weight: 200;
          font-size: 16px;
  
          letter-spacing: -0.01em;
          color: #fff;

          @include onTablet {
            font-size: 12px;

            margin-bottom: 5px;
          }

          @include onDesktop {
            margin: 16px 0 24px
          }
        }
      }

      &_img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 30px;

        &_phone {
          background-image: url(../../../images/iphone_14_pro_hero.jpg);
        }

        &_pad {
          background-image: url(../../../images/iPad_carousel.jpg);
        }


        
        @include onTablet {
          width: 120%;
          height: 100%;
          margin: 0;
        }
      }
    }
  }

  // &__button_left {
  //   position: relative;
  //   box-sizing: border-box;
  //   border: 1px solid #B4BDC4;
  //   width: 48px;
  //   height: 400px;
  //   display: none;

  //   @include onTablet {
  //     display: block;
  //     height: 200px;
  //   }

  //   @include onDesktop {
  //     height: 400px;
  //   }

  //   &_arrow {
  //     background-image: url(../../../images/ArrowLeft.svg);
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     height: 16px;
  //     width: 16px;
  //     display: none;

  //     @include onTablet {
  //       display: block;
  //     }
  //   }
  // }

  // &__button_right {
  //   position: relative;
  //   box-sizing: border-box;
  //   border: 1px solid #B4BDC4;
  //   width: 48px;
  //   height: 400px;
  //   display: none;

  //   @include onTablet {
  //     display: block;
  //     height: 200px;
  //   }

  //   @include onDesktop {
  //     height: 400px;
  //   }

  //   &_arrow {
  //     background-image: url(../../../images/VectorArrowRight.svg);
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     height: 16px;
  //     width: 16px;
  //   }
  // }

  &__button {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #B4BDC4;
    width: 48px;
    height: 400px;
    display: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #FAFBFC;
    }

    @include onTablet {
      display: block;
      height: 200px;
    }

    @include onDesktop {
      height: 400px;
    }

    &__arrow {
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 16px;
      width: 16px;
      display: none;

      @include onTablet {
        display: block;
      }

      &_right {
        background-image: url(../../../images/VectorArrowRight.svg);
      }

      &_left {
        background-image: url(../../../images/ArrowLeft.svg);
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin: 0 auto;

    &_item {
      padding: 0;
      margin: 0;
      &_button {
        width: 14px;
        height: 6px;
        border: none;
        background: #E2E6E9;
        cursor: pointer;
        outline: none;

        &_active {
          background: #313237;
        }
      }
    }
  }
}