.burger-menu {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  width: 100%;
  height: calc(100vh - 48px);
  position: fixed;
  background-color: white;
  z-index: 2;
  left: -100%;

  &--active {
    left: 0;
  }

  @include onTablet {
    display: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__list{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__liked-n-beg {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-bottom: 30px;
  }

  &__liked-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 64px;
    box-shadow: -1px -1px 0px #E2E6E9;

    &:hover {
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 32px;
        width: 50%;
        height: 3px;
        background-color: #313237;
      }
    }
  }

  &__liked {
    width: 16px;
    height: 16px;
    background-image: url(../../images/liked.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  
  &__beg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 64px;
    box-shadow: -1px -1px 0px #E2E6E9;

    &:hover {
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 32px;
        width: 50%;
        height: 3px;
        background-color: #313237;
      }
    }
  }

  &__beg {
    width: 16px;
    height: 16px;
    background-image: url(../../images/beg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}