@import '../../utils/mixins.scss';
@import '../../utils/container.scss';
@import '../../utils/vars.scss';

.page {
  position: relative;
  margin: 40px 16px;
  @include onTablet {
    margin: 40px 24px;
  }
  @include onDesktop {
    margin: 40px auto;
  }
  max-width: 1136px;
  &_nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    &__img {
      height: 12px;
      margin-right: 10px;
    }
    &__title {
      font-weight: 600;
      font-size: 12px;
      color: $secondary-color-gray;
    }
  }
  &_cart {
    @include onDesktop {
      display: flex;
    }
  }
  &_opasity {
    position: absolute;
    background-color: $white-color;
    opacity: 1;
    height: 100%;
    width: 100%;
    
    
    top: 50px;
  }
  &_approve {
    background-color: $white-color;
    top: 100px;
  }
}

.cart {
  &_box_total {
    padding: 16px;
    text-align: center;
    border: 1px solid $elements-color-light-gray;
    @include onDesktop {
      min-width: 268px;
      max-height: 178px;
      margin: 16px;
    }
  }
  &_list {
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &_product {    
    border: 1px solid $elements-color-light-gray;
    margin: 16px 0;
    padding: 16px;
    animation: slideRight 0.5s ease-in-out;

    @keyframes slideRight {
      0% {
        transform: translateX(-70%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @include onTablet {
      display: flex;
      justify-content: space-between;
    }

    &__del {
      height: 10px;
      margin-right: 19px;
    }
    &__img {
      width: 66px;
      height: 66px;
      object-fit: contain;
      margin-right: 23px;
    }
    &__name {
      height: 66px;
      text-align: left;
      @include onTablet {
        display: flex;
        align-items: center;
        line-height: 110%;
      }
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
    }
    &__first {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      @include onTablet {
        margin-right: 24px;
      }
    }
    &__second {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include onTablet {
        min-width: 248px;
      }
    }

    &__count_box {
      display: flex;
    }

    &__button {
      border: 1px solid $elements-color-light-gray;
      width: 32px;
      height: 32px;

      &_del {
        border: 1px solid $elements-color-light-gray;
        background-color: $white-color;
        border: 1px solid $white-color;
        width: 10px;
        height: 10px;
        margin-right: 25px;
        color: $secondary-color-gray;

        &__image {
          width: 10px;
          height: 10px;
          object-fit: contain;
          background-image: url('../../images/cross.svg');
          background-repeat: no-repeat;
          background-position: center;
          transition: scale, rotate3d, 0.3s;

          &:hover {
            cursor: pointer;
            transform: scale(1.2) rotate3d(-5, 5, 5, -5deg);
          }

          &:active {
            transform: scale(0.7)
          }
        }
      }
    }

    &__count {
      width: 32px;
      height: 32px;
      color: $secondary-color-gray;
      text-align: center;
      font-size: 14px;
      line-height: 32px;
    }
    &__total {
      width: 51px;
      height: 31px;
      font-family: 'Mont';
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 31px;
    }
  }

  &__checkout {
    display: block;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid $elements-color-light-gray;
    @include onDesktop {
      padding-top: 24px;
    }

    &_cart {
      padding: 0px;
      width: 100%;
      height: 48px;
      background: $primary-color-black;
      color: $white-color;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      transition: box-shadow 300ms;
      &:nth-child(2){
        margin-left: 50px;
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0px 3px 13px $icons-color-gray;
      }
    }
    &_approve {
      display: flex;
      padding: 24px;
    }
  }
  &__count_items {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $secondary-color-gray;
    align-self: stretch;
    align-items: center;
    margin-bottom: 16px;
    @include onDesktop {
      margin-bottom: 24px;
    }
  }

  &__total_price {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: $primary-color-black;
    align-items: center;
  }
}