@font-face {
  font-family: "Mont";
  src: url(./Mont-Bold.ttf);
  font-weight: 800;
}

.desktop-menu {
  display: none;
}

@media (min-width: 639px) {
  .desktop-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

.desktop-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
}

.desktop-menu-item {
  display: flex;
  width: 100%;
  padding-right: 32px;
}

.desktop-menu-item:last-child {
  padding-right: 0;
}

.desktop-menu-link {
  position: relative;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #89939A;
  text-decoration: none;
}

.desktop-menu-link:hover {
  color: #313237;
}

.desktop-menu-link:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -18.5px;
  width: 100%;
  height: 2px;
  background-color: #313237;
}

@media (min-width: 1199px) {
  .desktop-menu-link:hover::before {
    bottom: -26.5px;
  }

  .desktop-menu-item {
    padding-right: 64px;
  }
}