@import "./desktop-menu.css";

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;

  width: 100%;
  font-size: 140%;
  position: sticky;
  box-sizing: border-box;

  text-align: center;
  box-shadow: 0px 1px 0px #E2E6E9;
}

.header_logo-link {
  display: flex;
  align-self: center;
  width: 64px;
  height: 22px;
  margin-left: 16px;
  margin-right: 32px;
}

.header__logo {
  display: flex;
  align-self: center;
  width: 64px;
  height: 22px;
}

.header__menu-opener-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  box-shadow: -1px 0px 0px #E2E6E9;
}

.header__menu-opener {
  width: 14px;
  height: 14px;
  background-image: url(../../images/menuIcon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

.header__menu-opener:hover {
  transform: scale(1.1);
}

.header__link-n-beg {
  display: none;
}

@media (min-width: 639px) {
  .header__menu-opener-box {
    display: none;
  }

  .header__link-n-beg {
    display: flex;
    flex-direction: row;
  }

  .header__liked-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    box-shadow: -1px 0px 0px #E2E6E9;
  }

  .header__liked {
    width: 14px;
    height: 14px;
    background-image: url(../../images/liked.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
  }

  .header__liked:hover {
    transform: scale(1.1);
  }
  
  .header__beg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    box-shadow: -1px 0px 0px #E2E6E9;
  }

  .header__beg {
    width: 14px;
    height: 14px;
    background-image: url(../../images/beg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
  }

  .header__beg:hover {
    transform: scale(1.1);
  }
}

.header__logo-n-nav {
  display: flex;
  flex-direction: row;
}



@media (min-width: 1199px) {
  .header_logo-link {
    width: 80px;
    height: 30px;
    margin-left: 24px;
    margin-right: 48px;
  }

  .header__logo {
    width: 80px;
    height: 30px;
  }

  .header__liked-box {
    width: 64px;
    height: 64px;
  }
  
  .header__beg-box {
    width: 64px;
    height: 64px;
  }
}

/* @mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop-1280 {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin onDesktop-1440 {
  @media (min-width: 1440px) {
    @content;
  }
} */