@import "../../utils/mixins.scss";
@import "../BurgerMenu/BurgerMenu.module.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  font-size: 140%;
  text-align: center;
  box-shadow: 0px 1px 0px #E2E6E9;
  z-index: 3;

  &__logo_link {
    display: flex;
    align-self: center;
    width: 64px;
    height: 22px;
    margin-left: 16px;
    margin-right: 32px;

    @include onDesktop {
      width: 80px;
      height: 30px;
      margin-left: 24px;
      margin-right: 48px;
    }
  }
  
  &__logo {
    display: flex;
    align-self: center;
    width: 64px;
    height: 22px;

    @include onDesktop {
      width: 80px;
      height: 30px;
    }
  }

  &__link_n_beg {
    display: none;

    @include onTablet {
      display: flex;
      flex-direction: row;
    }
  }

  &__logo_n_nav {
    display: flex;
    flex-direction: row;
  }

  &__liked_box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      box-shadow: -1px 0px 0px #E2E6E9;

      @include onDesktop {
        width: 64px;
        height: 64px;
      }
  }

  &__liked {
    width: 14px;
    height: 14px;
    background-image: url(../../images/liked.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  
  &__beg_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    box-shadow: -1px 0px 0px #E2E6E9;

    @include onDesktop {
      width: 64px;
      height: 64px;
    }
  }

  &__beg {
    width: 14px;
    height: 14px;
    background-image: url(../../images/beg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__menu_opener_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    box-shadow: -1px 0px 0px #E2E6E9;

    @include onTablet {
      display: none;
    }
  }
  
  &__menu_opener {
    width: 14px;
    height: 14px;
    background-image: url(../../images/menuIcon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

    &__clicked {
      background-image: url(../../images/cross.svg);
    }
  }

  &__menu_opener:hover {
    transform: scale(1.1);
  }
}

.menu {
  display: none;

  @include onTablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
  }

  &__item {
    display: flex;
    width: 100%;
    padding-right: 32px;

    &:last-child {
      padding-right: 0;
    }

    @include onDesktop {
      padding-right: 64px;
    }
  }

  &__link {
    position: relative;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #89939A;
    text-decoration: none;

    &:hover {
      color: #313237;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -8px;
        width: 100%;
        height: 2px;
        background-color: #313237;

        @include onTablet {
          bottom: -18.5px;
        }


        @include onDesktop {
          bottom: -26.5px;
        }
      }
    }
  }
}
