@font-face {
  font-family: "Mont";
  src: url(../Mont-Bold.ttf);
  font-weight: 800;
}

.desktop-menu {
  display: none;

  @include onTablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
  }

  &__item {
    display: flex;
    width: 100%;
    padding-right: 32px;

    &:last-child {
      padding-right: 0;
    }

    @include onDesktop {
      padding-right: 64px;
    }
  }

  &__link {
    position: relative;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #89939A;
    text-decoration: none;

    &:hover {
      color: #313237;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -18.5px;
        width: 100%;
        height: 2px;
        background-color: #313237;

        @include onDesktop {
            bottom: -26.5px;
        }
      }
    }
  }
}