$primary-color-blackAll: #000000;
$primary-color-black: #313237;
$secondary-color-gray: #89939A;
$icons-color-gray: #B4BDC4;
$elements-color-light-gray: #E2E6E9;
$hover-color-white: #FAFBFC;
$white-color: #fff;
$green-color: #27AE60;
$red-color: #EB5757;
