.pagination {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  &_title {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #89939A;
    margin-bottom: 4px;
  }
  &_page {
    width: 128px;
    height: 40px;
    &--option{
      width: 128px;
      height: 40px;
      border: 1px solid #B4BDC4;
    }
  }

  &_link {
    display: block;
    text-decoration: none;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #313237;
    transition:color 0,5s;
    &:hover {
      color: white;
    }
  }
  &_list {
    text-decoration: none;
  }
  &_button {
    padding: 0;
    background-color: white;
    border: 1px solid #E2E6E9;
    width: 32px;
    height: 32px;
    margin: 0 2px;
    transition: background-color 0.5s;
    &--left-ritgh {
      margin: 0 14px;
      border: 1px solid #B4BDC4;
    }
    &:hover {
      background-color: #313237;
    }
  }
  &_active {
    background-color: #313237;
    color: white;
  }
  &_disabled :hover{
    background-color: white;
    color: #313237;
  }
}

